<a href="https://colab.research.google.com/github/DemetrioJMartins/ada_tech_santander_coders/blob/main/projeto_banco_de_dados_demetrio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Instalando e importando as bibliotecas necessárias**

In [1]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.28)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=f602cafcdc435ba7e316ee36dc8a2503f4550c954afba92d754b9e8e6e9de384
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
!pip install sqlalchemy==1.4.46

Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 8.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.46) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.28
    Uninstalling SQLAlchemy-2.0.28:
      Successfully uninstalled SQLAlchemy-2.0.28
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.46 which is incompatible.
Successfully installed sqlalchemy-1.4.46

In [3]:
import pandas as pd
import pandasql as ps
from pandasql import sqldf

In [4]:
from datetime import datetime

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Carregando o dataset e fazendo uma análise descritiva dos dados**

In [46]:
imdb = pd.read_csv('/content/drive/MyDrive/demetrio/imdb_data.csv')
imdb.head()

,id,primaryTitle,originalTitle,isAdult,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors
0,tt0035423,Kate & Leopold,Kate & Leopold,0,118,"Comedy,Fantasy,Romance",6.4,87925,48000000,76019048.0,"December 11, 2001",James Mangold
1,tt0065421,The Aristocats,The AristoCats,0,78,"Adventure,Animation,Comedy",7.1,111758,4000000,35459543.0,"December 11, 1970",Wolfgang Reitherman
2,tt0065938,Kelly's Heroes,Kelly's Heroes,0,144,"Adventure,Comedy,War",7.6,52628,4000000,5200000.0,"January 1, 1970",Brian G. Hutton
3,tt0066026,M*A*S*H,M*A*S*H,0,116,"Comedy,Drama,War",7.4,75784,3500000,81600000.0,"January 25, 1970",Robert Altman
4,tt0066206,Patton,Patton,0,172,"Biography,Drama,War",7.9,106476,12000000,61749765.0,"February 4, 1970",Franklin J. Schaffner

In [47]:
imdb = imdb.drop(labels = 'isAdult', axis = 1)

In [48]:
imdb['profit'] = imdb['gross'] - imdb['budget']
imdb.head()

,id,primaryTitle,originalTitle,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors,profit
0,tt0035423,Kate & Leopold,Kate & Leopold,118,"Comedy,Fantasy,Romance",6.4,87925,48000000,76019048.0,"December 11, 2001",James Mangold,28019048.0
1,tt0065421,The Aristocats,The AristoCats,78,"Adventure,Animation,Comedy",7.1,111758,4000000,35459543.0,"December 11, 1970",Wolfgang Reitherman,31459543.0
2,tt0065938,Kelly's Heroes,Kelly's Heroes,144,"Adventure,Comedy,War",7.6,52628,4000000,5200000.0,"January 1, 1970",Brian G. Hutton,1200000.0
3,tt0066026,M*A*S*H,M*A*S*H,116,"Comedy,Drama,War",7.4,75784,3500000,81600000.0,"January 25, 1970",Robert Altman,78100000.0
4,tt0066206,Patton,Patton,172,"Biography,Drama,War",7.9,106476,12000000,61749765.0,"February 4, 1970",Franklin J. Schaffner,49749765.0

In [49]:
imdb['release_year'] = imdb['release_date'].str.split(',').str[1]
imdb.head()

,id,primaryTitle,originalTitle,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors,profit,release_year
0,tt0035423,Kate & Leopold,Kate & Leopold,118,"Comedy,Fantasy,Romance",6.4,87925,48000000,76019048.0,"December 11, 2001",James Mangold,28019048.0,2001
1,tt0065421,The Aristocats,The AristoCats,78,"Adventure,Animation,Comedy",7.1,111758,4000000,35459543.0,"December 11, 1970",Wolfgang Reitherman,31459543.0,1970
2,tt0065938,Kelly's Heroes,Kelly's Heroes,144,"Adventure,Comedy,War",7.6,52628,4000000,5200000.0,"January 1, 1970",Brian G. Hutton,1200000.0,1970
3,tt0066026,M*A*S*H,M*A*S*H,116,"Comedy,Drama,War",7.4,75784,3500000,81600000.0,"January 25, 1970",Robert Altman,78100000.0,1970
4,tt0066206,Patton,Patton,172,"Biography,Drama,War",7.9,106476,12000000,61749765.0,"February 4, 1970",Franklin J. Schaffner,49749765.0,1970

In [50]:
imdb.shape #Número de linhas e de colunas

(3348, 13)

In [12]:
imdb.describe() #Descrição dos dados numéricos

,runtimeMinutes,averageRating,numVotes,budget,gross,profit
count,3348.000000,3348.00000,3.348000e+03,3.348000e+03,3.297000e+03,3.297000e+03
mean,112.739845,6.73853,2.155492e+05,5.039280e+07,1.681599e+08,1.177303e+08
std,19.927703,0.88221,2.480211e+05,5.178614e+07,2.366507e+08,2.038906e+08
min,63.000000,1.00000,5.000400e+04,1.800000e+01,2.100000e+02,-1.998219e+08
25%,98.000000,6.20000,7.897700e+04,1.500000e+07,3.623022e+07,1.145834e+07
50%,109.000000,6.80000,1.290400e+05,3.200000e+07,8.821516e+07,5.084478e+07
75%,124.000000,7.30000,2.468495e+05,6.800000e+07,2.008117e+08,1.409301e+08
max,242.000000,9.30000,2.817283e+06,3.560000e+08,2.923706e+09,2.686706e+09

In [13]:
imdb.info() #tipo dos dados e quantidade dos valores que NÃO são nulos por coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3348 entries, 0 to 3347
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3348 non-null   object
 1   primaryTitle    3348 non-null   object
 2   originalTitle   3348 non-null   object
 3   runtimeMinutes  3348 non-null   int64
 4   genres          3348 non-null   object
 5   averageRating   3348 non-null   float64
 6   numVotes        3348 non-null   int64
 7   budget          3348 non-null   int64
 8   gross           3297 non-null   float64
 9   release_date    3343 non-null   object
 10  directors       3348 non-null   object
 11  profit          3297 non-null   float64
 12  release_year    3214 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 340.2+ KB

In [14]:
imdb.isna().sum()  #Quantidade de valores nulos por coluna

id                  0
primaryTitle        0
originalTitle       0
runtimeMinutes      0
genres              0
averageRating       0
numVotes            0
budget              0
gross              51
release_date        5
directors           0
profit             51
release_year      134
dtype: int64

In [15]:
imdb.duplicated().sum() #Quantidade de valores duplicados

0

In [16]:
imdb.nunique() #Quantidade de valores únicos por coluna

id                3348
primaryTitle      3295
originalTitle     3298
runtimeMinutes     125
genres             287
averageRating       68
numVotes          3328
budget             343
gross             3296
release_date      2805
directors         1356
profit            3297
release_year        54
dtype: int64

# **Perguntas e respostas sobre os dados**

## ***1 - Quais são os 10 filmes com maior avaliação ?***

In [53]:
query = """
SELECT
  originalTitle AS titulo,
  averageRating As nota,
  directors
FROM imdb
ORDER BY nota DESC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

                                              titulo  nota  \
0                           The Shawshank Redemption   9.3
1                                      The Godfather   9.2
2                              The Godfather Part II   9.0
3                                   Schindler's List   9.0
4      The Lord of the Rings: The Return of the King   9.0
5                                    The Dark Knight   9.0
6                                       Pulp Fiction   8.9
7                                       Forrest Gump   8.8
8  The Lord of the Rings: The Fellowship of the Ring   8.8
9                                         Fight Club   8.8

              directors
0        Frank Darabont
1  Francis Ford Coppola
2  Francis Ford Coppola
3      Steven Spielberg
4         Peter Jackson
5     Christopher Nolan
6     Quentin Tarantino
7       Robert Zemeckis
8         Peter Jackson
9         David Fincher

## ***2 - Os filmes mais mal avaliados***

In [54]:
query = """
SELECT
  originalTitle AS titulo,
  averageRating AS nota,
  directors
FROM imdb
ORDER BY averageRating ASC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

                           titulo  nota                       directors
0                            Reis   1.0                 Hüdaverdi Yavuz
1  Justin Bieber: Never Say Never   1.7                      Jon M. Chu
2                  Disaster Movie   1.9  Jason Friedberg, Aaron Seltzer
3                 Son of the Mask   2.3               Lawrence Guterman
4                      Epic Movie   2.4  Jason Friedberg, Aaron Seltzer
5               Battlefield Earth   2.5                 Roger Christian
6            Dragonball Evolution   2.5                      James Wong
7                           Gigli   2.6                    Martin Brest
8                      Date Movie   2.8  Aaron Seltzer, Jason Friedberg
9               Meet the Spartans   2.8  Aaron Seltzer, Jason Friedberg

## ***3 - Melhores filmes com menos de 120 minutos***

In [55]:
query = """
SELECT
  originalTitle AS titulo,
  runtimeMinutes AS minutos_de_filme,
  averageRating as nota,
  directors
FROM imdb
WHERE runtimeMinutes < 90
ORDER BY averageRating DESC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

                 titulo  minutos_de_filme  nota                  directors
0        Hotaru no haka                89   8.5              Isao Takahata
1         The Lion King                88   8.5  Roger Allers, Rob Minkoff
2             Toy Story                81   8.3              John Lasseter
3     Bacheha-Ye aseman                89   8.2               Majid Majidi
4           Stand by Me                89   8.1                 Rob Reiner
5      Tonari no Totoro                86   8.1             Hayao Miyazaki
6        The Iron Giant                86   8.1                  Brad Bird
7         Before Sunset                80   8.1          Richard Linklater
8  Beauty and the Beast                84   8.0  Kirk Wise, Gary Trousdale
9    This Is Spinal Tap                82   7.9                 Rob Reiner

## ***4. Avaliação dos 15 filmes mais caros***

In [57]:
query = """
SELECT
  originalTitle AS titulo,
  averageRating AS nota,
  budget AS custo,
  directors
FROM imdb
ORDER BY budget DESC
LIMIT 15
"""

result = sqldf(query, locals())
print(result)

                                           titulo  nota      custo  \
0                               Avengers: Endgame   8.4  356000000
1                        Avatar: The Way of Water   7.6  350000000
2                                          Fast X   5.8  340000000
3                          Avengers: Infinity War   8.4  321000000
4         Star Wars: Episode VIII - The Last Jedi   6.9  317000000
5        Pirates of the Caribbean: At World's End   7.1  300000000
6                                  Justice League   6.1  300000000
7                    Zack Snyder's Justice League   7.9  300000000
8           Indiana Jones and the Dial of Destiny   6.6  294700000
9   Mission: Impossible - Dead Reckoning Part One   7.8  291000000
10  Star Wars: Episode IX - The Rise of Skywalker   6.4  275000000
11                        Solo: A Star Wars Story   6.9  275000000
12                               Superman Returns   6.1  270000000
13                                        Tangled   7.7  260000000
14                                  The Lion King   6.8  260000000

                      directors
0      Anthony Russo, Joe Russo
1                 James Cameron
2   Louis Leterrier, Justin Lin
3      Anthony Russo, Joe Russo
4                  Rian Johnson
5                Gore Verbinski
6                   Zack Snyder
7                   Zack Snyder
8                 James Mangold
9         Christopher McQuarrie
10                  J.J. Abrams
11                   Ron Howard
12                 Bryan Singer
13   Nathan Greno, Byron Howard
14                  Jon Favreau

## ***5 - Filmes que tiveram o maior 'lucro' (O custo de produção não engloba todo os custos, como os repasses dos cinemas)***

In [58]:
query = """
SELECT
  originalTitle AS titulo,
  budget AS custo,
  gross AS bilheteria,
  profit AS lucro,
  directors
FROM imdb
ORDER BY profit DESC
LIMIT 15
"""

result = sqldf(query, locals())
print(result)

                                        titulo      custo    bilheteria  \
0                                       Avatar  237000000  2.923706e+09
1                            Avengers: Endgame  356000000  2.799439e+09
2                                      Titanic  200000000  2.264743e+09
3                     Avatar: The Way of Water  350000000  2.320250e+09
4   Star Wars: Episode VII - The Force Awakens  245000000  2.071310e+09
5                       Avengers: Infinity War  321000000  2.052415e+09
6                      Spider-Man: No Way Home  200000000  1.921847e+09
7                               Jurassic World  150000000  1.671537e+09
8                                The Lion King  260000000  1.663075e+09
9                                       Barbie  100000000  1.441660e+09
10                           Top Gun: Maverick  170000000  1.495696e+09
11                            Fast & Furious 7  190000000  1.515341e+09
12                                   Frozen II  150000000  1.453683e+09
13                                The Avengers  220000000  1.520539e+09
14                 The Super Mario Bros. Movie  100000000  1.362016e+09

           lucro                                     directors
0   2.686706e+09                                 James Cameron
1   2.443439e+09                      Anthony Russo, Joe Russo
2   2.064743e+09                                 James Cameron
3   1.970250e+09                                 James Cameron
4   1.826310e+09                                   J.J. Abrams
5   1.731415e+09                      Anthony Russo, Joe Russo
6   1.721847e+09                                     Jon Watts
7   1.521537e+09                               Colin Trevorrow
8   1.403075e+09                                   Jon Favreau
9   1.341660e+09                                  Greta Gerwig
10  1.325696e+09                               Joseph Kosinski
11  1.325341e+09                                     James Wan
12  1.303683e+09                      Chris Buck, Jennifer Lee
13  1.300539e+09                                   Joss Whedon
14  1.262016e+09  Aaron Horvath, Michael Jelenic, Pierre Leduc

## ***6 - Melhores filmes que custaram mais de 100 milhões***

In [59]:
query = """
SELECT
  originalTitle AS titulo,
  averageRating AS nota,
  budget
FROM imdb
WHERE budget > 100000000
ORDER BY averageRating DESC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

                                titulo  nota     budget
0                      The Dark Knight   9.0  185000000
1                            Inception   8.8  160000000
2                         Interstellar   8.7  165000000
3  Spider-Man: Across the Spider-Verse   8.7  150000000
4           Terminator 2: Judgment Day   8.6  102000000
5                            Gladiator   8.5  103000000
6                               WALL·E   8.4  180000000
7                The Dark Knight Rises   8.4  250000000
8                                 Coco   8.4  175000000
9               Avengers: Infinity War   8.4  321000000

## ***7. Filmes de 2023 com custo abaixo de 100 milhões que mais lucraram***

In [60]:
query = """
SELECT
  originalTitle AS titulo,
  release_date AS data_de_lancamento,
  averageRating AS nota,
  budget
FROM imdb
WHERE release_date LIKE '%2023' AND budget < 100000000
ORDER BY averageRating DESC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

                 titulo  data_de_lancamento  nota    budget
0      Sound of Freedom       June 22, 2023   7.7  14600000
1          The Covenant      April 19, 2023   7.5  55000000
2                   Air      March 18, 2023   7.4  90000000
3          Gran Turismo       July 16, 2023   7.2  60000000
4               Missing    January 20, 2023   7.1   7000000
5       The Equalizer 3     August 30, 2023   6.9  70000000
6             Creed III          March 2023   6.8  75000000
7         Asteroid City        May 23, 2023   6.6  25000000
8  A Haunting in Venice  September 13, 2023   6.6  60000000
9        Evil Dead Rise      March 15, 2023   6.5  12000000

## ***8 - Diretores possuem a maior média de avaliação***

In [43]:
query = """
SELECT
  directors,
  AVG(averageRating) AS media,
  COUNT(originalTitle) AS quantidade_minima
FROM imdb
GROUP BY directors
HAVING quantidade_minima > 5
ORDER BY media DESC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

               directors     media  quantidade_minima
0      Christopher Nolan  8.191667                 12
1      Quentin Tarantino  8.133333                  9
2         Hayao Miyazaki  8.028571                  7
3       Denis Villeneuve  8.000000                  6
4          James Cameron  7.912500                  8
5          Peter Jackson  7.754545                 11
6          David Fincher  7.750000                 10
7        Martin Scorsese  7.714286                 21
8   Francis Ford Coppola  7.711111                  9
9  Joel Coen, Ethan Coen  7.537500                  8

## ***9 - Diretores que tem os maiores custos de produção médio***

In [44]:
query = """
SELECT
  directors,
  AVG(budget) AS custo,
  AVG(averageRating) AS media
FROM imdb
GROUP BY directors
ORDER BY AVG(budget) DESC
LIMIT 11
"""

result = sqldf(query, locals())
print(result)

                          directors        custo  media
0       Louis Leterrier, Justin Lin  340000000.0   5.80
1        Nathan Greno, Byron Howard  260000000.0   7.70
2   Espen Sandberg, Joachim Rønning  230000000.0   6.50
3          Anthony Russo, Joe Russo  225250000.0   7.55
4          Joe Russo, Anthony Russo  225000000.0   7.15
5                    Andrew Stanton  215000000.0   7.50
6                    Andrew Adamson  202500000.0   6.70
7                     Simon Kinberg  200000000.0   5.70
8                        Peter Sohn  200000000.0   6.85
9                         Niki Caro  200000000.0   5.80
10                      Lee Unkrich  200000000.0   8.30

## ***10 - Anos de produção com maiores notas***

In [52]:
query = """
SELECT
  release_year AS ano,
  SUM(averageRating) as soma
FROM imdb
WHERE ano IS NOT NULL
GROUP BY ano
ORDER BY soma DESC
LIMIT 10
"""

result = sqldf(query, locals())
print(result)

     ano   soma
0   2013  927.1
1   2011  886.3
2   2009  867.2
3   2016  862.4
4   2010  860.1
5   2008  820.6
6   2014  815.0
7   2015  811.3
8   2012  769.2
9   2007  757.9